<% if(lazyRoute) { %>import { <%= classify(component) %>Component } from './<%= dasherize(component) %>/<%= dasherize(component) %>.component';<% } %>
export const <%= name %> = [<% if(lazyRoute) { %><%= classify(component) %>Component<% } %>];

<% if(lazyRoute) { %>export * from './<%= dasherize(component) %>/<%= dasherize(component) %>.component';<% } %>
